In [1]:
import itertools as it

In [393]:
attendees = """
Jame	Smith
Peter	Jones
Tim	Peak
Sam	Tompson
Terry	Jones
Sammy	Smith
Emma	Frank
Bob	Hope
"""

attendees = attendees.replace("\t", " ").strip().split("\n")

In [394]:
len(attendees)

8

In [395]:
group_size = 2

In [396]:
chunked_data = [
    attendees[i : i + group_size] for i in range(0, len(attendees), group_size)
]
print(chunked_data)
if len(chunked_data[-1]) == 1:
    lone = chunked_data.pop()
    chunked_data[-1] += lone

if len(chunked_data) % 2 != 0:
    last_group = chunked_data.pop()
    while last_group:
        for group in chunked_data:
            while last_group:
                name = last_group.pop()
                group.append(name)
                break
            continue

[['Jame Smith', 'Peter Jones'], ['Tim Peak', 'Sam Tompson'], ['Terry Jones', 'Sammy Smith'], ['Emma Frank', 'Bob Hope']]

In [397]:
chunked_data

[['Jame Smith', 'Peter Jones'],
 ['Tim Peak', 'Sam Tompson'],
 ['Terry Jones', 'Sammy Smith'],
 ['Emma Frank', 'Bob Hope']]

In [360]:
sessions = list(it.combinations(chunked_data, 2))
session_num = round(len(sessions) / 2)

In [361]:
sessions

[(['Jame Smith', 'Peter Jones', 'Emma Frank'],
  ['Tim Peak', 'Sam Tompson', 'Sammy Smith'])]

In [362]:
session_num

0

In [339]:
len(sessions)/2

3.0

In [340]:
 [ name for names in (['Jame', 'Peter'], ['Tim', 'Sam']) for name in names]

['Jame', 'Peter', 'Tim', 'Sam']

In [341]:
def generate_sesisons(sessions: int, group_size: int, attendees: list):

    planned_sessions = {}

    chunked_data = [
        attendees[i : i + group_size] for i in range(0, len(attendees), group_size)
    ]

    rooms = len(chunked_data) / 2
    needed_sessions = list(it.combinations(chunked_data, 2))
    sorted_sessions = {}
    
    for session in range(sessions):
        print(f"Session {session}")
        sorted_sessions[session] = {}
        picked = []
        for room in range(int(rooms)):
                
            for i, pick_session in enumerate(needed_sessions):
                next_sesion = False
                flatted_session =  [name for names in pick_session for name in names]
                
                for name in flatted_session:
                    if name in set(picked):
                        next_sesion = True
                if not next_sesion:
                    print(f" {room} {pick_session}")
                    picked += (flatted_session)
                    sorted_sessions[session][room] = flatted_session
                    needed_sessions.pop(i) 
                    break
    return sorted_sessions

In [241]:
sessions = 3
group_size = 2

In [242]:
planned_sessions = generate_sesisons(sessions, group_size, attendees)

Session 0
 0 (['Jame', 'Peter'], ['Tim', 'Sam'])
 1 (['Terry', 'Sammy'], ['Emma', 'Bob'])
Session 1
 0 (['Jame', 'Peter'], ['Terry', 'Sammy'])
 1 (['Tim', 'Sam'], ['Emma', 'Bob'])
Session 2
 0 (['Jame', 'Peter'], ['Emma', 'Bob'])
 1 (['Tim', 'Sam'], ['Terry', 'Sammy'])

In [133]:
assigned = {1 : (['Terry', 'Sammy'], ['Emma', 'Bob']) , 2 : (['Tim', 'Sam'], ['Terry', 'Sammy'])}

In [134]:
(['Terry', 'Sammy'], ['Emma', 'Bob'])  in assigned.values()

True

In [247]:
planned_sessions

{0: {0: ['Jame', 'Peter', 'Tim', 'Sam'], 1: ['Terry', 'Sammy', 'Emma', 'Bob']},
 1: {0: ['Jame', 'Peter', 'Terry', 'Sammy'], 1: ['Tim', 'Sam', 'Emma', 'Bob']},
 2: {0: ['Jame', 'Peter', 'Emma', 'Bob'], 1: ['Tim', 'Sam', 'Terry', 'Sammy']}}

In [245]:
for session in planned_sessions.values():
    print(session)

{0: ['Jame', 'Peter', 'Tim', 'Sam'], 1: ['Terry', 'Sammy', 'Emma', 'Bob']}
{0: ['Jame', 'Peter', 'Terry', 'Sammy'], 1: ['Tim', 'Sam', 'Emma', 'Bob']}
{0: ['Jame', 'Peter', 'Emma', 'Bob'], 1: ['Tim', 'Sam', 'Terry', 'Sammy']}

In [246]:
len(planned_sessions)

3

In [252]:
for i, v in planned_sessions[0].items():
    print(i)
    print(v)

0
['Jame', 'Peter', 'Tim', 'Sam']
1
['Terry', 'Sammy', 'Emma', 'Bob']