In [1]:
import itertools as it

In [3]:
attendees = """Jame
Peter
Tim
Sam
Terry
Sammy
Emma
Bob"""

attendees = attendees.split('\n')

In [10]:
    chunked_data = [
        attendees[i : i + 2] for i in range(0, len(attendees), 2)
    ]

In [26]:
len(chunked_data)/2

2.0

In [16]:
chunked_data

[['Jame', 'Peter'], ['Tim', 'Sam'], ['Terry', 'Sammy'], ['Emma', 'Bob']]

In [126]:
sessions = list(it.combinations(chunked_data, 2))

In [132]:
sessions

[(['Jame', 'Peter'], ['Tim', 'Sam']),
 (['Jame', 'Peter'], ['Terry', 'Sammy']),
 (['Jame', 'Peter'], ['Emma', 'Bob']),
 (['Tim', 'Sam'], ['Terry', 'Sammy']),
 (['Tim', 'Sam'], ['Emma', 'Bob']),
 (['Terry', 'Sammy'], ['Emma', 'Bob'])]

In [136]:
 [ name for names in (['Jame', 'Peter'], ['Tim', 'Sam']) for name in names]

['Jame', 'Peter', 'Tim', 'Sam']

In [240]:
def generate_sesisons(sessions: int, group_size: int, attendees: list):

    planned_sessions = {}

    chunked_data = [
        attendees[i : i + group_size] for i in range(0, len(attendees), group_size)
    ]

    rooms = len(chunked_data) / 2
    needed_sessions = list(it.combinations(chunked_data, 2))
    sorted_sessions = {}
    
    for session in range(sessions):
        print(f"Session {session}")
        sorted_sessions[session] = {}
        picked = []
        for room in range(int(rooms)):
                
            for i, pick_session in enumerate(needed_sessions):
                next_sesion = False
                flatted_session =  [name for names in pick_session for name in names]
                
                for name in flatted_session:
                    if name in set(picked):
                        next_sesion = True
                if not next_sesion:
                    print(f" {room} {pick_session}")
                    picked += (flatted_session)
                    sorted_sessions[session][room] = flatted_session
                    needed_sessions.pop(i) 
                    break
    return sorted_sessions

In [241]:
sessions = 3
group_size = 2

In [242]:
planned_sessions = generate_sesisons(sessions, group_size, attendees)

Session 0
 0 (['Jame', 'Peter'], ['Tim', 'Sam'])
 1 (['Terry', 'Sammy'], ['Emma', 'Bob'])
Session 1
 0 (['Jame', 'Peter'], ['Terry', 'Sammy'])
 1 (['Tim', 'Sam'], ['Emma', 'Bob'])
Session 2
 0 (['Jame', 'Peter'], ['Emma', 'Bob'])
 1 (['Tim', 'Sam'], ['Terry', 'Sammy'])

In [133]:
assigned = {1 : (['Terry', 'Sammy'], ['Emma', 'Bob']) , 2 : (['Tim', 'Sam'], ['Terry', 'Sammy'])}

In [134]:
(['Terry', 'Sammy'], ['Emma', 'Bob'])  in assigned.values()

True

In [247]:
planned_sessions

{0: {0: ['Jame', 'Peter', 'Tim', 'Sam'], 1: ['Terry', 'Sammy', 'Emma', 'Bob']},
 1: {0: ['Jame', 'Peter', 'Terry', 'Sammy'], 1: ['Tim', 'Sam', 'Emma', 'Bob']},
 2: {0: ['Jame', 'Peter', 'Emma', 'Bob'], 1: ['Tim', 'Sam', 'Terry', 'Sammy']}}

In [245]:
for session in planned_sessions.values():
    print(session)

{0: ['Jame', 'Peter', 'Tim', 'Sam'], 1: ['Terry', 'Sammy', 'Emma', 'Bob']}
{0: ['Jame', 'Peter', 'Terry', 'Sammy'], 1: ['Tim', 'Sam', 'Emma', 'Bob']}
{0: ['Jame', 'Peter', 'Emma', 'Bob'], 1: ['Tim', 'Sam', 'Terry', 'Sammy']}

In [246]:
len(planned_sessions)

3

In [252]:
for i, v in planned_sessions[0].items():
    print(i)
    print(v)

0
['Jame', 'Peter', 'Tim', 'Sam']
1
['Terry', 'Sammy', 'Emma', 'Bob']